@import '../../node_modules/@moduk/frontend/src/css';

$color_1: #532a45;
$color_2: black;
$color_3: white;
$color_4: #0b0c0c;
$color_5: #ffffff;
$color_6: #505a5f;
$font-family_1: arial, helvetica, sans-serif;
$font-family_2: sans-serif;
$font-family_3: Helvetica, Arial, sans-serif;
$background-color_1: #532a45;
$background-color_2: white;
$background-color_3: #fd0;
$background-color_4: transparent;
$background-color_5: #8a1538;
$background-color_6: #f0f4f5;
$border-color_1: #aeb7bd;
$border-color_2: white;
$border-bottom-color_1: white;
$border-bottom-color_2: black;

.govuk-card {
	background: white;
	border: 1px solid #d8dde0;
	position: relative;
	width: 100%;
	margin-bottom: 25px;
}
.govuk-card__img {
	display: block;
	width: 100%;
	border-bottom: 1px solid #f0f4f5;
}
.govuk-card__content {
	position: relative;
	padding: 15px;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
	>* {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.govuk-card__heading {
	margin-bottom: 15px;
}
.govuk-card__metadata {
	margin-bottom: 15px;
}
.govuk-card__description {
	margin-bottom: 15px;
}
.govuk-card--clickable {
	border-bottom-width: 5px;
	a {
		color: $color_1;
	}
	&:hover {
		border-color: $border-color_1;
		cursor: pointer;
		.govuk-card__heading {
			a {
				color: $color_1;
				text-decoration: none;
				&:focus {
					color: $color_2;
				}
			}
		}
		.govuk-card__link {
			color: $color_1;
			text-decoration: none;
			&:focus {
				color: $color_2;
			}
		}
	}
	&:active {
		border-color: $border-color_1;
		bottom: -1px;
		cursor: pointer;
		.govuk-card__heading {
			a {
				color: $color_1;
				text-decoration: none;
				&:focus {
					color: $color_2;
				}
			}
		}
		.govuk-card__link {
			color: $color_1;
			text-decoration: none;
			&:focus {
				color: $color_2;
			}
		}
	}
}
.govuk-card-group {
	padding: 0;
	margin-bottom: 15px;
	display: flex;
	flex-wrap: wrap;
	+ {
		h2 {
			padding-top: 0;
		}
		.govuk-heading-l {
			padding-top: 0;
		}
		h3 {
			padding-top: 0;
		}
		.govuk-heading-m {
			padding-top: 0;
		}
	}
}
.moduk-prose {
	.govuk-card-group {
		+ {
			h2 {
				&:not([class]) {
					padding-top: 0;
				}
			}
			h3 {
				&:not([class]) {
					padding-top: 0;
				}
			}
		}
	}
	.hero {
		a {
			&:link {
				&:not([class]) {
					color: $color_3;
				}
			}
			&:visited {
				&:not([class]) {
					color: $color_3;
				}
			}
			&:hover {
				&:not([class]) {
					color: $color_3;
				}
			}
			&:active {
				&:not([class]) {
					color: $color_3;
				}
			}
			&:focus {
				&:not([class]) {
					color: $color_4;
				}
			}
		}
	}
	ul {
		&:not([class]) {
			ul {
				margin-bottom: 0;
				ul {
					margin-bottom: 0;
				}
			}
		}
	}
}
.govuk-card-group__item {
	list-style-type: none;
	margin-bottom: 0;
	display: flex;
	.govuk-card {
		margin-bottom: 25px;
	}
}
.govuk-card--feature {
	margin-top: 25px;
}
.govuk-card__heading--feature {
	background: #532a45;
	color: $color_3;
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	margin-right: -govuk-spacing(4);
	padding: 10px 20px;
	left: -21px;
	top: -govuk-spacing(2);
}
.govuk-card__content--feature {
	padding-top: 0 !important;
}
.hero {
	margin-bottom: 0;
	color: $color_3;
	.govuk-breadcrumbs__list-item {
		&::before {
			border-color: $border-color_2;
		}
	}
	.govuk-link {
		&:link {
			color: $color_3;
		}
		&:visited {
			color: $color_3;
		}
		&:hover {
			color: $color_3;
		}
		&:active {
			color: $color_3;
		}
		&:focus {
			color: $color_4;
		}
	}
	.moduk-prose {
		a {
			&:link {
				&:not([class]) {
					color: $color_3;
				}
			}
			&:visited {
				&:not([class]) {
					color: $color_3;
				}
			}
			&:hover {
				&:not([class]) {
					color: $color_3;
				}
			}
			&:active {
				&:not([class]) {
					color: $color_3;
				}
			}
			&:focus {
				&:not([class]) {
					color: $color_4;
				}
			}
		}
	}
	.moduk-related-content__list-link {
		&:link {
			color: $color_3;
		}
		&:visited {
			color: $color_3;
		}
		&:hover {
			color: $color_3;
		}
		&:active {
			color: $color_3;
		}
		&:focus {
			color: $color_4;
		}
	}
}
.hero__title {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.09375;
}
.hero__description {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.1111111111;
}
.hero__paragraph {
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
}
.hero__body {
	width: 100%;
	box-sizing: border-box;
	padding: 0 15px;
	a {
		&:link {
			font-weight: bold;
		}
		&:visited {
			font-weight: bold;
		}
	}
}
.hero__inline-image {
	text-align: center;
	img {
		width: 100%;
		max-width: 320px;
	}
}
.hero__aside-image {
	display: none;
	visibility: hidden;
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 0 15px;
	margin-top: 15px;
	img {
		max-width: 100%;
	}
	a {
		&:link {
			font-weight: bold;
		}
		&:visited {
			font-weight: bold;
		}
	}
}
.moduk-link--maroon {
	color: $color_1;
	&:link {
		color: $color_1;
	}
	&:visited {
		color: $color_1;
	}
}
.masthead {
	background-color: $background-color_1;
	margin-bottom: 50px;
}
.govuk-header__content {
	padding-bottom: 1px;
}
.govuk-header__menu-button {
	margin-top: 10px;
}
.responsive-embed {
	margin-bottom: 30px;
	.responsive-embed__wrapper {
		position: relative;
		display: block;
		height: 0;
		padding: 0;
		overflow: hidden;
	}
	.responsive-embed__item {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
	embed {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
	object {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
	video {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
}
.responsive-embed--bordered {
	padding: 5px;
	outline: 1px solid #b1b4b6;
}
.responsive-embed--16by9 {
	.responsive-embed__wrapper {
		padding-bottom: 56.25%;
	}
}
.responsive-embed--4by3 {
	.responsive-embed__wrapper {
		padding-bottom: 75%;
	}
}
.sub-navigation {
	margin-bottom: 30px;
	ol {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
.sub-navigation__item {
	display: block;
	border-bottom: 1px #b1b4b6 solid;
	padding: 10px 0;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
	&:last-child {
		border-bottom: 0;
	}
	a {
		&:link {
			text-decoration: none;
		}
		&:hover {
			text-decoration: underline;
		}
		&:active {
			text-decoration: underline;
		}
	}
}
.sub-navigation__item--active {
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.25;
	a {
		&:link {
			color: $color_4;
		}
		&:visited {
			color: $color_4;
		}
	}
}
.moduk-tag--default {
	background-color: $background-color_1;
	color: $color_5;
}
.right-aligned {
	float: right;
}
.govuk-footer__heading {
	white-space: nowrap;
}
.govuk-header__image {
	filter: invert(100%);
	height: 48px;
}
.govuk-header__logotype {
	position: static;
}
.govuk-header__logo {
	margin-bottom: 0;
}
.moduk-account-header {
	position: relative;
	z-index: 0;
	margin-top: 0;
	margin-bottom: 5px;
	background-color: $background-color_2;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.1428571429;
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}
.moduk-account-header__main {
	z-index: 1;
	margin: 0;
	padding: 0;
	float: left;
	li {
		display: inline-block;
		margin-bottom: 0;
	}
}
.moduk-account-header__link {
	border: 4px solid transparent;
	color: $color_2;
	font-family: $font-family_3;
	font-weight: 700;
	padding: 8px 16px 8px 0;
	text-decoration: none;
	text-transform: none;
	&:hover {
		border-bottom: 4px solid black;
		color: $color_2;
	}
	&:focus {
		border-bottom: 4px solid black;
		color: $color_2;
		background-color: $background-color_3;
		color: $color_2;
	}
}
.moduk-account-header--inverse {
	background-color: $background-color_4;
}
.moduk-account-header__link--inverse {
	color: $color_3;
	&:hover {
		color: $color_3;
		border-bottom-color: $border-bottom-color_1;
	}
	&:focus {
		background-color: $background-color_3;
		color: $color_2;
		border-bottom-color: $border-bottom-color_2;
	}
}
.phase-banner-minus-margin {
	margin-top: -0.5rem;
}
.breadcrumbs-account {
	margin: 0;
	padding-top: 8px;
}
.sign-out-button-link {
	background: none;
	cursor: pointer;
	font-size: 1rem;
}
.moduk-attachment {
	position: relative;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}
.moduk-attachment__thumbnail {
	position: relative;
	width: auto;
	margin-right: 25px;
	padding: 5px;
	float: left;
}
.moduk-attachment__thumbnail-image {
	display: block;
	width: auto;
	max-width: 99px;
	height: 140px;
	border: rgba(11, 12, 12, 0.1);
	outline: 5px solid rgba(11, 12, 12, 0.1);
	background: white;
	box-shadow: 0px 3.5px 6px rgba(0, 0, 0, 0.1), 0px 0.9px 1.5px rgba(0, 0, 0, 0.05), 0px 0.3px 0.4px rgba(0, 0, 0, 0.024);
	fill: #aeb7bd;
	stroke: #aeb7bd;
}
.moduk-attachment__details {
	padding-left: 134px;
	.moduk-details {
		word-break: break-word;
		word-wrap: break-word;
	}
}
.moduk-attachment__title {
	margin: 0 0 15px;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.1111111111;
}
.moduk-attachment__link {
	line-height: 1.29;
}
.moduk-attachment__metadata {
	margin: 0 0 15px;
	color: $color_6;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
	&:last-of-type {
		margin-bottom: 0;
	}
}
.moduk-attachment__metadata--compact {
	margin-bottom: 0;
}
.moduk-attachment__abbr {
	text-decoration: none;
	cursor: help;
}
.moduk-contents-list {
	position: relative;
	z-index: 1;
	margin: 0 0 20px 0;
	background: white;
	box-shadow: 0 20px 15px -10px white;
}
.moduk-contents-list__title {
	margin: 0;
	color: $color_4;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.5;
}
.moduk-contents-list__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: $color_4;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.1428571429;
}
.moduk-contents-list__nested-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: $color_4;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.1428571429;
}
.moduk-contents-list__list-item {
	padding-top: 10px;
	line-height: 1.3;
	list-style-type: none;
}
.moduk-contents-list__link {
	&:focus {
		color: $color_4 !important;
		outline: 3px solid transparent;
		color: $color_2;
		background-color: $background-color_3;
		box-shadow: 0 -2px #fd0, 0 4px black;
		text-decoration: none;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}
	&:active {
		&:focus {
			color: $color_4 !important;
			outline: 3px solid transparent;
			color: $color_2;
			background-color: $background-color_3;
			box-shadow: 0 -2px #fd0, 0 4px black;
			text-decoration: none;
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
		}
	}
	&:link {
		&:focus {
			color: $color_4 !important;
			outline: 3px solid transparent;
			color: $color_2;
			background-color: $background-color_3;
			box-shadow: 0 -2px #fd0, 0 4px black;
			text-decoration: none;
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
		}
	}
	&:visited {
		&:focus {
			color: $color_4 !important;
			outline: 3px solid transparent;
			color: $color_2;
			background-color: $background-color_3;
			box-shadow: 0 -2px #fd0, 0 4px black;
			text-decoration: none;
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
		}
	}
}
.moduk-contents-list__list-item--parent {
	>.moduk-contents-list__link {
		font-weight: bold;
	}
}
.moduk-contents-list__list-item--dashed {
	position: relative;
	padding-left: 25px;
	padding-right: 25px;
	&:before {
		content: "—";
		position: absolute;
		left: 0;
		width: 20px;
		overflow: hidden;
	}
}
.direction-rtl {
	.moduk-contents-list__list-item--dashed {
		&:before {
			left: auto;
			right: 0;
		}
	}
}
.moduk-related-content {
	border-top: 1px solid #b1b4b6;
	padding-top: 5px;
}
.moduk-related-content__title {
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.25;
}
.moduk-related-content__description {
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
}
.moduk-related-content__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: $color_4;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
}
.moduk-related-content__list-item {
	padding-top: 10px;
	line-height: 1.3;
	list-style-type: none;
}
.govuk-body--secondary {
	color: $color_6;
}
.js-enabled {
	.js\ {
		&:is-hidden {
			display: none !important;
		}
	}
}
body {
	&:not(.js-enabled) {
		.no-js\ {
			&:is-hidden {
				display: none !important;
			}
		}
	}
}
.is-hidden {
	display: none !important;
}

.moduk-do-dont {
	position: relative;
	margin-top: 55px;
	margin-bottom: 40px;
	padding: 25px;
	padding-top: 0;
	background-color: $background-color_2;
	border: 1px solid #aeb7bd;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
	> * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.moduk-do-dont__label {
	position: relative;
	top: -govuk-spacing(3);
	display: inline-block;
	margin: 0 0 10px -26px;
	padding: 10px 25px;
	background-color: $background-color_1;
	color: $color_3;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.1111111111;
}
.moduk-do-dont__list {
	position: relative;
	padding-left: 30px;
	margin-top: 0;
	list-style: none;
	li {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&:last-child {
			margin: 0;
		}
	}
}
.moduk-do-dont__tick {
	position: relative;
	display: inline-block;
	&:after {
		position: absolute;
		content: "";
		display: block;
		left: -25px;
		top: -20px;
		width: 7px;
		height: 15px;
		margin-left: 60%;
		border-right: 5px solid #00945f;
		border-bottom: 5px solid #00945f;
		transform: rotate(45deg);
	}
}
.moduk-do-dont__cross {
	position: relative;
	display: inline-block;
	&:before {
		content: "";
		position: absolute;
		left: -23px;
		top: -16px;
		width: 5px;
		height: 20px;
		background-color: $background-color_5;
		transform: rotate(45deg);
	}
	&:after {
		content: "";
		position: absolute;
		left: -23px;
		top: -16px;
		width: 5px;
		height: 20px;
		background-color: $background-color_5;
		transform: rotate(-45deg);
	}
}
.moduk-callout {
	position: relative;
	margin-top: 55px;
	margin-bottom: 40px;
	padding: 25px;
	padding-top: 0;
	background-color: $background-color_6;
	border: 1px solid #f0f4f5;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
	> * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.moduk-callout__label {
	position: relative;
	top: -govuk-spacing(3);
	display: inline-block;
	margin: 0 0 10px -26px;
	padding: 10px 25px;
	background-color: $background-color_1;
	color: $color_3;
	font-family: $font-family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.1111111111;
}
.moduk-callout__content {
	max-width: 630px;
	p {
		margin: 0 0 15px;
		font-family: $font-family_1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.25;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.moduk-callout--v2 {
	position: static;
	margin-top: 0;
	padding: 0;
	.moduk-callout__label {
		display: block;
		margin: 0;
		top: 0;
	}
	.moduk-callout__content {
		padding: 25px;
	}
}
.moduk-steps {
	margin-left: 0;
	padding-left: 0;
	overflow: hidden;
	>li {
		margin: 0;
		padding: 0.75em 0 0.75em 2.5em;
		list-style-type: decimal;
		background-position: 0 0.87em;
		background-repeat: no-repeat;
		&:nth-child(1) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E1%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(2) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E2%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(3) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E3%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(4) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E4%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(5) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E5%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(6) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E6%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(7) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E7%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(8) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E8%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(9) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E9%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(10) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E10%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(11) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E11%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(12) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E12%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(13) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E13%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(14) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E14%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(15) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E15%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(16) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E16%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(17) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E17%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(18) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E18%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(19) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E19%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(20) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E20%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(21) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E21%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(22) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E22%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(23) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E23%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(24) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E24%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(25) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E25%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(26) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E26%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(27) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E27%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(28) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E28%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(29) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E29%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
		&:nth-child(30) {
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E30%3C/text%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0.2em 0.7em;
			background-size: 1.4em 1.4em;
		}
	}
}
@media (min-width: 40.0625em) {
	.govuk-card {
		margin-bottom: 40px;
	}
	.govuk-card__content {
		padding: 25px;
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
	.govuk-card--feature {
		margin-top: 40px;
	}
	.govuk-card__heading--feature {
		left: -26px;
		margin-right: -govuk-spacing(5);
		padding: 10px 25px;
		top: -govuk-spacing(3);
	}
	.hero {
		padding: 25px 0;
	}
	.hero__title {
		margin-bottom: 30px;
		font-size: 3rem;
		line-height: 1.0416666667;
	}
	.hero__description {
		margin-bottom: 30px;
		font-size: 1.5rem;
		line-height: 1.25;
	}
	.hero__paragraph {
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
	.hero__body {
		width: 66.6666666667%;
	}
	.hero__inline-image {
		display: none;
		visibility: hidden;
	}
	.hero__aside-image {
		display: block;
		visibility: visible;
		width: 33.3333333333%;
	}
	.sub-navigation__item {
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
	.sub-navigation__item--active {
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
	.moduk-account-header {
		font-size: 1rem;
		line-height: 1.25;
	}
	.moduk-attachment {
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
	.moduk-attachment__title {
		font-size: 1.6875rem;
		line-height: 1.1111111111;
	}
	.moduk-attachment__metadata {
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
	.moduk-contents-list__title {
		font-size: 1rem;
		line-height: 1.5;
	}
	.moduk-contents-list__list {
		font-size: 1rem;
		line-height: 1.25;
	}
	.moduk-contents-list__nested-list {
		font-size: 1rem;
		line-height: 1.25;
	}
	.moduk-contents-list__list-item {
		padding-top: 7.5px;
	}
	.moduk-related-content__title {
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
	.moduk-related-content__description {
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
	.moduk-related-content__list {
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
	.moduk-related-content__list-item {
		padding-top: 7.5px;
	}
	.moduk-do-dont {
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
	.moduk-do-dont__label {
		font-size: 1.5rem;
		line-height: 1.25;
	}
	.moduk-callout {
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
	.moduk-callout__label {
		font-size: 1.5rem;
		line-height: 1.25;
	}
	.moduk-callout__content {
		p {
			font-size: 1.1875rem;
			line-height: 1.3157894737;
		}
	}
}
@media print {
	.govuk-card__img {
		display: none;
	}
	.govuk-card__content {
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.15;
	}
	.hero__title {
		font-family: $font-family_2;
		font-size: 32pt;
		line-height: 1.15;
	}
	.hero__description {
		font-family: $font-family_2;
		font-size: 18pt;
		line-height: 1.15;
	}
	.hero__paragraph {
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.15;
	}
	.sub-navigation__item {
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.15;
	}
	.sub-navigation__item--active {
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.15;
	}
	.moduk-account-header {
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.2;
	}
	.moduk-attachment {
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.15;
	}
	.moduk-attachment__title {
		font-family: $font-family_2;
		font-size: 18pt;
		line-height: 1.15;
	}
	.moduk-attachment__metadata {
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.15;
	}
	.moduk-contents-list__title {
		color: $color_2;
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.5;
	}
	.moduk-contents-list__list {
		color: $color_2;
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.2;
	}
	.moduk-contents-list__nested-list {
		color: $color_2;
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.2;
	}
	.moduk-related-content__title {
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.15;
	}
	.moduk-related-content__description {
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.15;
	}
	.moduk-related-content__list {
		color: $color_2;
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.15;
	}
	.moduk-do-dont {
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.15;
	}
	.moduk-do-dont__label {
		font-family: $font-family_2;
		font-size: 18pt;
		line-height: 1.15;
	}
	.moduk-callout {
		font-family: $font-family_2;
		font-size: 14pt;
		line-height: 1.15;
	}
	.moduk-callout__label {
		font-family: $font-family_2;
		font-size: 18pt;
		line-height: 1.15;
	}
	.moduk-callout__content {
		p {
			font-family: $font-family_2;
			font-size: 14pt;
			line-height: 1.15;
		}
	}
}
@media (max-width: 48.0525em) {
	.govuk-card-group {
		margin-bottom: 30px;
	}
	.govuk-card-group__item {
		flex: 0 0 100%;
		.govuk-card {
			margin-bottom: 15px;
		}
		&:last-child {
			.govuk-card {
				margin-bottom: 0;
			}
		}
	}
}
@media screen and (max-width: 24em) {
	.moduk-header__logo {
		width: 100%;
	}
}
@media (min-width: 640px) {
	.moduk-account-header__main {
		float: right;
	}
	.moduk-account-header__link {
		padding: 12px 16px;
	}
	.breadcrumbs-account {
		padding-top: 0;
	}
}
@media (min-width: 48.0625em) {
	.position-sticky {
		position: sticky;
		top: 20px;
	}
}
