<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>

{# Option 1: Using the absolute path from the modukPath #}
{% from "moduk/components/accordion/macro.njk" import modukAccordion %}


{{ modukAccordion({
  id: "accordion-default",
  items: accordionItems 
}) -}}


</body>
</html>
