{% macro gridColumns(columns, class='') -%}
    <div class="govuk-grid-row {{ class }}">
    {% for column in columns %}
        <div class="govuk-grid-column-{{ column.width if column.width else 'one-third' }}">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
              <a class="govuk-link govuk-link--no-visited-state" 
              href="{{ column.link.href }}">
                {{ column.link.text }}
              </a>
            </h3>
        </div>
    {% endfor %}
    </div>
{%- endmacro %}
